<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "The Auction", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li> <%= link_to "View Products", items_path %> </li>
        <li>
          <% if model_signed_in? %>
          <%= link_to "Log out", destroy_model_session_path, method: :delete %>
          <% else %>
          <%= link_to "Log in", new_model_session_path%>
          <% end %>
        </li>

      </ul>
    </nav>
  </div>
</header>
